#wrapper {
  clear: both; /*floatで要素の回り込み解除*/
  padding: 60px 40px 0 40px;
}

.articles {
  color: black;
}

.line {
  margin-bottom: 60px;
}

/*ページネーション*/
.pagenation {
  list-style: none;
  padding-top: 40px;
  padding-bottom: 80px;
}

.pagenation :visited {
  color: black;
}

.pagenation li {
  float: left;
}

.pagenation a {
  display: inline; /*inline要素は上下余白設定できない？*/
  padding: 12px 15px 12px 15px;
  text-decoration: none;
  background-color: #D8D8D8;
  border-radius: 3px;
}

.page-item.active a {
  color: white;
  background-color: gray;
}
