<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PhD Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="title">
      <h1 class="site-title">
        <a href="/">Ph<span>.</span>D<span>.</span> Notes</a>
      </h1>
        <p class="sub-title">#100DaysOfCode @文系大学院生</p>
      </div>
      <nav class="menu">
        <% if session[:user_id] %>
          <a class="login-message">ログイン中</a>
          <%= link_to "ログアウト", "/logout", {method: :post, :style => "padding-right:20px; color:orange; text-decoration:none;"} %>
        <% end %>
        <a href="/articles/index" class="menu1">ARCHIVE<span>.</span></a>
        <a href="https://twitter.com/TomoPhDNotes" class="menu2">TWITTER<span>.</span></a>
      </nav>
    </header>
    <% if flash[:notice] %>
      <div class="error">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %> <!--yield→各ビューの差し込み-->
    <footer>
      <small>(C)2018 PhD Notes@Tomo</small>
    </footer>
  </body>
</html>
